/* autoprefixer grid: autoplace */
/*----------------------------------------------------------ISMOIL's custom styles-------------------------------------------*/

/*---------------------Layout----------------------*/

body {
    --eletron: #FED000;
    --eletron-dark: #D7B100;
}


.layout-children {
    min-height: 85vh;
}


/*---------------------Banner home----------------------*/

.banner-home-wrap .slick-list {
    border-radius: 15px;
}

.banner-home-wrap {
    margin-top: 35px;
    margin-bottom: 50px;
}

.banner-home-wrap .overlay {
    border-radius: 15px;
}

.banner-home-wrap .slick-prev, .banner-home-wrap .slick-next {
    width: 35px;
    height: 35px;
}


.banner-home-wrap .slick-prev {
    z-index: 2;
    left: 15px;
}

.banner-home-wrap .slick-next {
    right: 15px;
}

.home-banner-figure {
    position: relative;
    border-radius: 15px;
    margin-bottom: 0;
}

.home-banner-figure img {
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 15px;
    object-fit: cover;
}

.home-banner-figure figcaption {
    position: absolute;
    top: 35%;
    color: #fff;
    z-index: 2;
    left: 10%;
}

.home-banner-figure figcaption h5 {
    font-size: 1.5rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}


/*---------------------Registration----------------------*/

.reg-entity-wrap {
    padding: 50px 10px 50px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reg-entity-type {
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    transition: all 200ms ease;
    font-size: 17px;
}

.reg-entity-type:hover {
    border-color: #7E7E7E;
}


.reg-entity-type i {
    color: #7E7E7E;
}

.reg-entity-type p {
    margin: 0;
    font-size: 17px;
}

/*---------------------Footer----------------------*/
footer.footer {
    background-image: url("/static/img/banner/footer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 5%;
    position: relative;
}

footer .overlay {
    background-color: rgba(21, 20, 18, 0.6);
}

.footer-nav-list-wrap h5 {
    font-weight: bold;
    color: var(--eletron);
    font-size: 16px;
}

.footer-nav-link {
    color: #fff;
    margin-bottom: 8px;
}

.footer-nav-link a {
    color: inherit;
}

.footer-nav-link a:hover {
    text-decoration: underline;
}

footer.footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.border-line {
    background: #fff;
    height: 1px;
    margin-top: 65px;
}

.copyright {
    text-align: center;
    background: transparent;
    padding: 25px 0;
    color: #fff;
    font-weight: 500;
}

.copyright span {
    color: var(--eletron);
}

.right-side-list {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.right-side-list .phone,
.right-side-list .email {
    font-weight: 500;
    font-size: 16px;
}

.right-side-list .email {
    margin-bottom: 50px;
}

.right-side-list .phone span,
.right-side-list .email span {
    color: var(--eletron);
    font-size: 20px;
}

.right-side-list .eletron-social {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

.right-side-list .social-icons {

}

.right-side-list img {
    display: block;
    width: 100%;
    max-width: 160px;
    margin-bottom: 40px;
}

.right-side-list .social-icons {
    display: flex;
}

.right-side-list .social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--eletron);
    font-size: 22px;
    margin-left: 10px;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    height: 100%;
    max-height: 30px;
}

/*---------------------Popular Products----------------------*/

.products-small-banner {
    box-sizing: border-box;
    background: var(--eletron);
    height: 100%;
    max-height: 315px;
    margin-bottom: 50px;
    border-radius: 10px;
    max-width: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-small-banner h3 {
    font-weight: bold;
    margin-left: 10px;
    font-size: 22px;
    margin-bottom: 0;
}


.products-small-banner img {
    display: block;
    width: 32px;
    height: 50px;
}

/*---------------------Product Card----------------------*/
.product-card {
    max-width: 245px;
    margin-bottom: 50px;
    position: relative;
    display: block;
}

.product-card figure {
    margin-bottom: 0.5rem;
}

.product-card img {
    display: block;
    max-width: 200px;
    width: 100%;
}

.product-card .prod-new:after {
    content: "New!";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    background: #FF0000;
    color: #fff;
    font-weight: 500;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card h4 {
    font-weight: bold;
}

.product-card .card-price {
    display: block;
    max-width: 200px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.product-card .functional-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card .functional-btns button {
    width: 65%;
}

.product-card .functional-btns .compare-btn {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: #FAFAFA;
    border-radius: 10px;
    cursor: pointer;
}

.product-card .functional-btns .compare-btn:hover svg {
    color: var(--eletron);
    fill: var(--eletron);
}

.product-card .functional-btns .compare-btn svg {
    margin: auto;
    width: 30px;
    height: 30px;
    transition: all 250ms ease;
}

/*---------------------Banner half, full----------------------*/

.banner-half-link,
.banner-full-link {
    display: block;
    position: relative;
    transition: all 250ms ease;
}

.banner-half-link:hover,
.banner-full-link:hover {
    opacity: 0.8;
}

.banner-half-link img,
.banner-full-link img {
    display: block;
    width: 100%;
    height: 335px;
    object-fit: cover;
    border-radius: 15px;
}

.banner-full-link .banner-info {
    position: absolute;
    color: #fff;
    top: 35%;
    z-index: 2;
    left: 10%;
}

.banner-full-link .banner-info h5 {
    font-size: 1.4rem;
}

/*---------------------Brands----------------------*/

.partner-logo {
    display: block;
}

.partner-logo img {
    display: block;
    width: 100%;
    max-width: 220px;
}

/*---------------------Project constants----------------------*/

.btn-eletron {
    border-radius: 10px;
    background-color: var(--eletron);
    padding: 15px 30px;
    font-weight: bold;
    border: none;
    outline: none;
    transition: all 250ms ease;
    font-size: 1rem;
    letter-spacing: 0.5px;
    display: inline-block;
}

.main.btn-eletron {
    background-color: var(--eletron);
}

.main.btn-eletron:hover {
    outline: none;
    background-color: var(--eletron-dark);
    cursor: pointer;
}

.main.btn-eletron:focus {
    outline: none;
}









