@media (max-width: 1199.98px) {

}

@media only screen and (max-width: 991.98px){
    header.header .header_main .header_search {
        height: 60px;
    }
    .main_nav {
        margin-top: 55px;
    }

    header.header .main_nav .main_nav_content .main_nav_menu ul li {
        margin-right: 0;
    }
}


@media (max-width: 768px) {
    .banner-home-wrap {
        margin-top: 15px;
    }

}

@media (max-width: 575.98px) {
    header.header .header_main {
        height: 70px;
    }
    header.header .header_main .header_search {
        display: none;
    }
    header.header .main_nav {
        margin-top: 0;
    }
    .products-small-banner h3 {
        font-size: 18px;
    }
    .product-card h4 {
        font-size: 16px;
    }
    .products-small-banner img {
        width: 25px;
        height: 40px;
    }
    .product-card, .products-small-banner  {
        margin-bottom: 25px;
    }
    .products-small-banner {
        max-height: 290px;
    }
}


@media (min-width: 1500px) {
    .col-lg-2-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}